$redGradientStart: #801006;
$redGradientEnd: #660a0a;
$red: #730b06;
$orangeGradientStart: #663a05;
$orangeGradientEnd: #4d2e08;
$orange: #593204;
$yellowGradientStart: #494904;
$yellowGradientEnd: #2e2e05;
$yellow: #3c3c05;
$greenGradientStart: #044904;
$greenGradientEnd: #052e05;
$green: #034003;
$aquaGradientStart: #054848;
$aquaGradientEnd: #032c2c;
$aqua: #033030;
$blueGradientStart: #040449;
$blueGradientEnd: #030330;
$blue: #04043d;
$violetGradientStart: #26123b;
$violetGradientEnd: #190c27;
$violet: #210f33;
$pinkGradientStart: #4b0232;
$pinkGradientEnd: #300321;
$pink: #41022c;
$marronGradientStart: #472c06;
$marronGradientEnd: #2e1d05;
$marron: #3d2605;

.concept {
    background-color: #1a1a1a;
    color: #fefefe;
}

.red {
    background-color: $red;
    &--progress {
        background: linear-gradient(
            180deg,
            $redGradientStart 0%,
            $red 50%,
            $redGradientEnd 100%
        );
    }
}

.orange {
    background-color: $orange;
    &--progress {
        background: linear-gradient(
            180deg,
            $orangeGradientStart 0%,
            $orange 50%,
            $orangeGradientEnd 100%
        );
    }
}
.yellow {
    background-color: $yellow;
    &--progress {
        background: linear-gradient(
            180deg,
            $yellowGradientStart 0%,
            $yellow 50%,
            $yellowGradientEnd 100%
        );
    }
}
.green {
    background-color: $green;
    &--progress {
        background: linear-gradient(
            180deg,
            $greenGradientStart 0%,
            $green 50%,
            $greenGradientEnd 100%
        );
    }
}
.aqua {
    background-color: $aqua;
    &--progress {
        background: linear-gradient(
            180deg,
            $aquaGradientStart 0%,
            $aqua 50%,
            $aquaGradientEnd 100%
        );
    }
}
.blue {
    background-color: $blue;
    &--progress {
        background: linear-gradient(
            180deg,
            $blueGradientStart 0%,
            $blue 50%,
            $blueGradientEnd 100%
        );
    }
}
.violet {
    background-color: $violet;
    &--progress {
        background: linear-gradient(
            180deg,
            $violetGradientStart 0%,
            $violet 50%,
            $violetGradientEnd 100%
        );
    }
}
.pink {
    background-color: $pink;
    &--progress {
        background: linear-gradient(
            180deg,
            $pinkGradientStart 0%,
            $pink 50%,
            $pinkGradientEnd 100%
        );
    }
}
.marron {
    background-color: $marron;
    &--progress {
        background: linear-gradient(
            180deg,
            $marronGradientStart 0%,
            $marron 50%,
            $marronGradientEnd 100%
        );
    }
}
